/*header*/
*{
    padding:0;
    margin: 0;  
}
.main{
width: 100%;
background:url(image/banner.png);
background-position: center;
background-size: cover;
height: 98vh;
position: relative;
font-family: sans-serif;
margin-left: 40px;
margin-right: 40px;
margin: 40px;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar.logo{
    margin-top: 160px;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 2%;
    
}
 ul{
    margin-top: -4%;
}
  ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
}
  ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(12, 12, 12);
    margin-top: -35%;
    transition: -4s ease;
    text-transform: capitalize;
}
 ul li a:hover{
    color: rgb(34, 255, 0);
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h1{
    font-size: 67px;
    color: rgb(0, 0, 0);
}
.info h3{
    font-size: 20px;
    color: rgb(14, 14, 14);
    letter-spacing: 1px;
    line-height: 25px;
}
.info span{
    color: orange;
}
.info a{
    text-decoration: none;
    color: azure;
    background: rgb(36, 14, 236);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
.info a:hover{
    background: rgb(216, 82, 4);
}
.image{
    width: 25%;
    height: 50%;
    position: absolute;
    right: 100px;
    bottom: 5px;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    margin-bottom: 25%;
    transition: left 2s ease;
}
.image:hover .girl{
    left: 50%;

}


/*section*/
.f-se{
    background-color:rgb(249, 238, 203);
    margin: 80px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding: 30px;
    font-size: 30px;

}
.f-se h3{
    font-size: 40px;
}
.about-me-content{
    display:flex;
    justify-content:space-around;
    margin-top: 50px;

}
.content:hover{
    color: rgb(255, 128, 0);
}
/*second section*/
.div-1{
    background-color: rgb(249, 249, 174);
    margin-bottom: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
.sec-div{
    margin-left: 700px;
}

.last-mid{
    width: 1250px;
    height: 1667px;
    margin: auto;
    
}
.sub-container img{
      height: 258px;
      width: 300px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
}
.sub-container{
    width: 329px;
    height: 476px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*footer*/

.last-content{
    display: flex;
    gap:500px;
    margin: 40px;
    background-color: blanchedalmond;
    padding: 40px;
 }
 
 .section-content{
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    border-width: 30px ;
    padding-bottom: 5px;
 }
 .btn-1{
    color: rgb(15, 14, 14);
    background-color: orange;
    padding: 10px 10px;
 }
 .last-content a i {
    margin-left: 4%;
    color: rgb(241, 123, 64);

    font-size: 40px;
    transition: -4s ease;
    
}
.last-content a i:hover{
    color: rgb(30, 0, 255);
}
.conter{
    font-size: 20px;
    font-weight: 20px;
}
 
 