/*header*/
*{
    padding:0;
    margin: 0;  
}
.main{
width: 100%;
background:url(image/banner.png);
background-position: center;
background-size: cover;
height: 95vh;
position: relative;
font-family: sans-serif;
margin-left: 30px;
margin-right: 30px;
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    align-items: center;
    justify-content: space-between;
}
.navbar.logo{
    margin-top: 160px;
    cursor: pointer;
    margin-top: 3%;
    margin-left: 2%;
}
ul{
    margin-top: -4%;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 15px 10px;
}
ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(12, 12, 12);
    margin-top: -35%;
    transition: -4s ease;
    text-transform: capitalize;
}
ul li a:hover{
    color: rgb(219, 227, 118);
}
.info{
    margin-left: 7%;
    margin-top: 6%;
}
.info h1{
    font-size: 67px;
    color: black;
}
.info h3{
    font-size: 20px;
    color: rgb(14, 14, 14);
    letter-spacing: 1px;
    line-height: 25px;
}
.info span{
    color: orange;
}
.info a{
    text-decoration: none;
    color: azure;
    background: rgb(15, 14, 14);
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: .4s ease;
}
.info a:hover{
    background: gold;
}
.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 0;
}
.image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom: 0;
    margin-bottom: 25%;
    transition: left 2s ease;
}
.image:hover .girl{
    left: 50%;

}

.icons {
    margin-left: 7%;
    color: rgb(241, 203, 64);
    margin-right: 100px;
    font-size: 40px;
    transition: -4s ease;
    
}
.icons:hover{
    color: rgb(255, 0, 195);
}
/*section*/
.f-se{
    background-color:rgb(252, 246, 227);
    margin: 200px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding: 30px;
    font-size: 30px;

}
.f-se h3{
    font-size: 40px;
}
.about-me-content{
    display:flex;
    justify-content:space-around;
    margin-top: 50px;

}
.content:hover{
    color: rgb(255, 128, 0);
}
/*second section*/
.div-1{
    background-color: rgb(254, 254, 238);
    padding: 0px;
    margin-bottom: 500px;
    margin-left: 30px;
    margin-right: 30px;
}
.sec-div{
    margin-left: 270px;
}

.last-mid{
    width: 1250px;
    height: 1667px;
    margin: auto;
    
}
.sub-container img{
      height: 258px;
      width: 300px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
}
.sub-container{
    width: 329px;
    height: 476px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 